<button mat-dialog-header type="button" class="close" (click)="closeDialog()">
  <span aria-hidden="true">&times;</span>
</button>

<div class="delete-header">
  <label class="delete-title">Delete {{data.type}}</label>
  <span>Are you sure you want to delete the {{data.type}}?</span>
</div>
<div mat-dialog-actions>
  <div class="action-container">
    <button class="delete-data" (click)="deleteCategory()">Delete {{data.type}}</button>
    <button class="cancel-delete" (click)="closeDialog()">Cancel</button>
  </div>
</div>