<section class="reset-password-section">
  <div>
    <div class="reset-password__hero-parent">
      <div class="reset-password__hero"></div>
    </div>
  </div>
  <form class="reset-password__form">
    <div class="reset-password__title">Reset password</div>
    <div class="reset-password__subtitle">Instructions to set a new password will be emailed to this email address. Make
      sure this is a valid email address of yours.
    </div>
    <!--  (ngSubmit)="onResetPassword()" -->
    <div class="reset-password__fields">
      <mat-form-field>
        <!-- [ngClass]="{'input-invalid':(response | json) != '{}'}" -->
        <div class="reset-password__input-user-icon"></div>
        <span matPrefix><img src="../../../../assets/icons/email.png"></span>
        <input matInput name="username" class="reset-password__usr-input ocr-input" required>
        <!-- formControlName="username" -->
        <img src="../../../../assets/icons/accept-input.png" class="reset-password__accept-input">
        <mat-label>Your email adress</mat-label>
        <mat-error>Username cannot be empty</mat-error>
      </mat-form-field>
      <div *ngIf="(response | json) != '{}'"
        [ngClass]="response?.type === 'error' ? 'response-error' : 'response-success'">{{response?.message}}
      </div>
    </div>
    <div class="reset-password__buttons">
      <button tabindex="0" mat-button class="reset-password__reset-password-btn ocr-btn ocr-btn--blue"
        [disabled]=loading>
        <span *ngIf="!loading">BACK</span>
        <ocr-loading-screen *ngIf="loading"></ocr-loading-screen>
      </button>
      <button tabindex="0" mat-button class="reset-password__reset-password-btn ocr-btn ocr-btn--blue"
        [disabled]=loading>
        <span *ngIf="!loading">RESET MY PASSWORD</span>
        <ocr-loading-screen *ngIf="loading"></ocr-loading-screen>
      </button>
    </div>
  </form>
</section>
