@import './../../../../styles-shared.scss';

* {
    transition: 0.3s;
}

section {
    padding: 15px;
    max-width: 1120px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 230px;
    margin: auto;
}

section>* {
    max-width: 450px;
    width: 100%;
    margin: 15px;

}

.login__hero-parent {
    position: relative;
    padding-bottom: 70%;
    padding-top: 50px;
}

.login__hero {
    max-width: 472px;


    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: $url-login-image;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
}

.login__title {
    font-family: Rubik;
    font-weight: 300;
    font-size: $font-size-48;
    line-height: normal;
    color: $primary-dark-blue;

    padding-bottom: 16px;
}

.login__subtitle {
    font-family: Rubik;
    font-weight: normal;
    font-size: $font-size-18;
    line-height: 23px;
    color: $secondary-light-blue;

    padding-bottom: 40px;
    max-width: 400px;
}

.login__subtitle>span>img {
    margin-top: -9px;
}

.login__form {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.login__fields {
    display: flex;
    flex-flow: column;

    background: $background-color;
    box-shadow: $box-shadow;
    border-radius: 5px;
    margin-bottom: 25px;
}

.login__fields>* {
    padding: 16px 57px 2px 20px;
}

.login__fields>*:nth-of-type(2) {
    padding: 16px 57px 0px 20px;
}

.login__fields>*:not(:last-child) {
    border-bottom: 1px solid $input-border;
}

.login__accept-input {
    position: absolute;
    top: 6px;
    right: -35px;
    left: auto;
    bottom: auto;

    height: 20px;
    width: 20px;
}

.login__actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.login__actions>*:last-child {
    font-family: Rubik;
    font-weight: $bold;
    font-size: $font-size-16;
    line-height: 23px;
    color: $secondary-color;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 14px;
}

mat-form-field span {
    width: 24px;
    height: 24px;
    position: relative;
    display: block;
    margin-right: 15px;
}

mat-form-field span>img {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 5px;
    left: 0;
}

mat-form-field:nth-of-type(2) span>img {
    bottom: 7px;
}

button {
    background: $primary-dark-blue;
    border-radius: 5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: $bold;
    font-size: $font-size-18;
    line-height: 23px;
    text-align: center;
    color: $background-color;
    padding-top: 16px;
    padding-bottom: 17px;
}

button:disabled,
button:disabled:hover {
    background: $secondary-color;
    outline: none;
    border: none;
}

.register-user {
    text-align: center;
    font-size: $font-size-18;
    color: $secondary-light-blue;
    font-weight: $bold;
}

.register-user span {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 758px) {
    section {
        flex-flow: column;
        padding-top: 30px;
    }
}